[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "vendor/fossil-see"]
	path = vendor/fossil-see
	url = https://github.com/wmacevoy/fossil-sqlcipher-libressl.git
